@import 'icons';
@import 'colorScheme';
@import 'buttons';
:host {
    position: absolute;
    bottom: 60px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .return-to-map-button {
        &:focus {
            outline: 2px solid $blue;
            outline-offset: 4px;
            outline-style: inset;
        }
    }
    .activate-resp-button {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        &:focus {
            outline: 2px solid $blue;
            outline-offset: 4px;
            outline-style: inset;
        }
    }
    .response {
        min-width: 50vw;
        max-width: 500px;
        min-height: 525px;
        max-height: 525px;
        background-color: white;
        margin-bottom: 12px;
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        display: flex;
        height: 100%;
        .response-container {
            display: flex;
            flex-grow: 2;
            position: relative;
            max-height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 15px;
            button {
                max-width: 200px;
            }
            .subheader {
                font-size: 14px;
                color: #3e3d4a;
                margin-bottom: 20px;
                &.success {
                    color: #208738;
                }
                &.info {
                    color: #3322FF;
                    font-family: 'Rubik';
                    font-size: 14px;
                    font-weight: 500;
                }
                &.error {
                    color: $red;
                }
            }
            .response-action {
                height: 100%;
                width: 100%;
                .content-container {
                    display: flex;
                    flex-direction: column;
                }
                .response-type {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }
            .grey-subheader {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}
