<div class="modal">
    <div class="header">
        <div>RESPONSE LOCATION</div>
        <app-icon icon="vip"
                  static="true"
                  round="true"
                  size="medium"
                  color="blue"
                  [style]="{ 'margin-left': '15px' }"></app-icon>
    </div>
    <div class="content">
        {{selectionState}}
    </div>
    <div class="footer">
        <button class="app-button default"
                *ngIf="selectionState === selectionStates.Default"
                (click)="cancel()">NO</button>
        <button class="app-button secondary"
                *ngIf="selectionState === selectionStates.Default"
                (click)="setLocation()">
            <app-icon icon="location-blue"
                      size="medium"></app-icon>
            <span>YES, SET LOCATION</span>
        </button>

        <button class="app-button default"
                *ngIf="selectionState === selectionStates.Selecting"
                (click)="restart()">
            <span>CANCEL LOCATION SETTING</span>
        </button>

        <button class="app-button default"
                *ngIf="selectionState === selectionStates.Confirm"
                (click)="setLocation()">SET A DIFFERENT LOCATION</button>
        <button class="app-button secondary"
                *ngIf="selectionState === selectionStates.Confirm"
                (click)="confirmLocation()">
            <span>DONE</span>
        </button>
    </div>
</div>
