@import 'icons';
:host {
    display: flex;
    align-items: flex-start;
    position: relative;
    min-height: 32px;
    .status-icon {
        position: absolute;
        left: -35px;
        top: 4px;
        color: $green;
        &.red {
            color: $red;
        }
    }
    .app-icon {
        margin-right: 15px;
        z-index: 3;
    }
    .content-container {
        padding-top: 6px;
    }
    .line-hider {
        height: 100%;
        z-index: 2;
        width: 32px;
        position: absolute;
        background-color: white;
        bottom: 0;
    }
    .error {
        background-color: #FFDBD9;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10px;
    }
}
