<div class="status-icon"
     *ngIf="context.status === actionStatus.Success">
    <mat-icon>check</mat-icon>
</div>
<div class="status-icon red"
     *ngIf="context.status === actionStatus.Error || context.status === actionStatus.Skipped || context.status === actionStatus.Unknown">
    <mat-icon>remove</mat-icon>
</div>
<div class="app-icon shield-plain red round"></div>
<div class="content-container">
    <div>{{context.description}}</div>
    <div class="error"
         *ngIf="context.status === actionStatus.Error || context.status === actionStatus.Skipped">{{context.errorMessage}}</div>
</div>
<div class="line-hider"
     *ngIf="last"></div>
