<div class="dashboard-container"
     [class.column-layout]="useColumnLayout">
    <router-outlet></router-outlet>
    <div class="map-container">
        <app-activate-response *ngIf="showResponseButtons"
                               [actionPlans]="actionPlans"
                               [actionPlan]="selectedActionPlan$ | async"
                               (onGetFullActionPlan)="getActionPlan($event)"
                               (onSelectActionPlan)="selectActionPlan($event)"
                               (onClose)="clearActiveResponse()"
                               (onRetry)="retryResponseActions($event)"
                               (onPostNewResponse)="postNewResponse($event)"></app-activate-response>
        <app-all-users-chat [messages]="messages$ | async"
                            [userCount]="userCount$ | async"
                            (activateResponseClick)="activateResponse()"
                            (newMessage)="sendNewMessage($event)"
                            (closeClick)="closeAllUserChat()"
                            *ngIf="showAllUserChat"></app-all-users-chat>
        <app-user-chat [messages]="activeMessages"
                       [actionPlans]="actionPlans"
                       [activeEvent]="activeEvent"
                       [activeEventInstance]="activeEventInstance"
                       [userName]="userName"
                       [userId]="userId"
                       (closeClick)="closeUserChat()"
                       (showEvent)="showActiveEvent()"
                       (newMessage)="sendNewMessage($event)"
                       (endChatClick)="endUserChat()"
                       (activateResponseClick)="activateResponse()"
                       *ngIf="showUserChat"></app-user-chat>
        <app-active-responses *ngIf="(showResponses$ | async) && showResponseButtons"
                              [activeResponse]="activeResponse$ | async"
                              [activeResponses]="activeResponses$ | async"
                              [responses]="responses$ | async"
                              (onSelectActiveResponse)="selectActiveResponse($event)"
                              (onDeactivateResponse)="deactivateResponse($event)"
                              (onGetFullResponse)="getFullResponse($event)"
                              (onToggleOverlay)="toggleOverlay($event)"
                              (onResponseActionsUpdated)="updateResponseActions($event)"
                              (onRetryResponseActions)="retryResponseActions($event)"></app-active-responses>
        <app-map [pins]="pins"
                 [defaultOptions]="defaultOptions"
                 [showActivateResponse]="true"
                 [activeResponse]="activeResponse$ | async"
                 (onAddLocationToResponse)="addLocationToResponse($event)"
                 (onUpdateResponseLocation)="updateResponseLocation($event)"
                 (onEventClick)="handleEventClick($event)"></app-map>
    </div>
</div>
