@import 'buttons';
:host {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    button:focus {
        outline: 2px solid $blue;
        outline-offset: 4px;
        outline-style: inset;
    }
    .container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        .subheader {
            font-size: 14px;
            color: #3e3d4a;
            margin-bottom: 20px;
            &.success {
                color: #208738;
            }
        }
        .app-button.primary {
            margin-left: 20px;
        }
        .header {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}
