<div class="container"
     *ngIf="activeResponse && activeResponse.actionPlan && actionPlanActions.length > 0">
    <div class="header">UPDATE {{activeResponse.actionPlan.name}} RESPONSE</div>
    <div class="subheader success"
         *ngIf="showSuccessMessage">Updates successfullly sent.</div>
    <div>
        <button class="app-button secondary"
                (click)="onCancelClick()"
                tabindex="380">GO BACK</button>
        <button class="app-button primary"
                (click)="addNotification()"
                tabindex="380">ADD NOTIFICATION</button>
        <button class="app-button primary"
                (click)="sendUpdates()"
                [disabled]="!modified"
                [ngClass]="{'disabled': !modified}"
                tabindex="380">SEND
            UPDATES</button>
    </div>
    <app-action-list tabindex="200"
                     [actions]="actionPlanActions"
                     [canEdit]="true"
                     (onEditAction)="addEditAction($event)"
                     (onAddAction)="addEditAction($event)"
                     (onRemoveAction)="removeAction($event)"></app-action-list>
</div>
