<div class="container"
     [ngClass]="getRowClass()"
     (click)="onClick($event)">
    <app-icon round="true"
              [icon]="item.icon"
              [active]="active"
              size="large"></app-icon>
    <span class="text">{{item.name}}</span>
    <app-icon icon="close"
              size="medium"
              *ngIf="active"
              (click)="onClose($event)"
              class="dismiss"></app-icon>
    <!-- <span class="active-arrow" *ngIf="selectedActionPlan && selectedActionPlan.actionPlanId === actionPlan.actionPlanId"></span> -->
</div>
