@import 'icons';
:host {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 20px;
    background-color: white;
    z-index: 4;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    padding-top: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
        color: #3322FF;
        font-family: 'Rubik';
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 75%;
        overflow: auto;
        color: #3E3D4A;
        font-family: 'Rubik';
        font-size: 14px;
        &:focus {
            outline: none;
        }
        .connection {
            display: flex;
            justify-content: left;
            .app-icon {
                margin-right: 10px;
            }
        }
        .center-dash {
            width: 100%;
            text-align: center;
        }
    }
}
