/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';
@import 'colorScheme';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grey-subheader {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    >div {
        background-color: #F9F9FA;
        font-size: 12px;
        color: #3E3D4A;
        padding: 0 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.message-container {
    .ps {
        display: flex;
        flex-direction: column-reverse;
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primary-color !important;
}

.mat-ripple-element {
    background: $secondary-color !important;
}

.mat-checkbox-inner-container {
    height: 24px !important;
    width: 24px !important;
}

.mat-checkbox-label {
    line-height: initial !important;
    display: flex;
    align-items: center;
}

.mat-tooltip {
    // overflow: visible !important;
    // border-top-left-radius: unset;
    // border-bottom-left-radius: unset;
}

.navlink-tooltip {
    font-size: 16px;
    position: relative; // &::after {
    //     content: '';
    //     width: 0;
    //     height: 0;
    //     border-top: 10px solid transparent;
    //     border-bottom: 10px solid transparent;
    //     border-right: 10px solid rgba(97, 97, 97, .9);
    //     position: absolute;
    //     left: 0;
    //     margin-left: -10px;
    //     z-index: 10;
    // }
}

.toast-container {
    position: relative;
    z-index: 3;
}

.toast-success {
    background-color: #323232;
    background-image: url('/assets/icons/baseline-check-24px.svg');
}

.toast-error {
    background-color: #E62C1E;
    background-image: url('/assets/icons/baseline-remove-24px.svg');
}
