<app-toast-container></app-toast-container>

<div class="active-responses"
     *ngIf="active"
     [@fadeInOut]
     [style.z-index]="active ? 5 : 3">
    <app-search-list [title]="'Active Responses'"
                     [items]="items"
                     [activeId]="activeResponse ? activeResponse.responseId : null"
                     (itemSelected)="selectActiveResponse($event)"></app-search-list>
    <div class="responses-container">
        <div class="grey-subheader absolute-position"
             *ngIf="!activeResponse"
             [@fadeInOut]>
            <div>No Response Selected</div>
        </div>
        <div class="grey-subheader absolute-position"
             *ngIf="loadingFullResponse"
             [@fadeInOut]>
            <div>Loading...</div>
        </div>
        <app-active-response class="absolute-position"
                             *ngIf="activeResponse && activeView === 0"
                             (deactivateClicked)="showDeactivateView()"
                             (updateClicked)="showUpdateView()"
                             (setLocationClicked)="toggleResponses()"
                             (onRetry)="retryResponseActions($event)"
                             [activeResponse]="activeResponse"
                             [@fadeInOut]></app-active-response>
        <app-deactivate-response class="absolute-position"
                                 *ngIf="activeResponse && activeView === 1"
                                 (backClick)="backClicked();"
                                 (returnToMapClick)="toggleResponses()"
                                 (deactivateClick)="deactivateResponse($event)"
                                 [activeResponse]="activeResponse"
                                 [@fadeInOut]></app-deactivate-response>
        <app-update-response class="absolute-position"
                             *ngIf="activeResponse && activeView === 3"
                             (onActionsUpdated)="onActionsUpdated($event, false)"
                             (onCancel)="backClicked()"
                             [activeResponse]="activeResponse"
                             [@fadeInOut]></app-update-response>
    </div>
</div>

<div class="container app-button map secondary manage-resp-button"
     (click)="toggleResponses()"
     (keyup.space)="toggleResponses()"
     (keyup.enter)="toggleResponses()"
     [@fadeInOut]
     [style.z-index]="active ? 5 : 3"
     [style.padding]="activeResponses.length > 5 ? '6px' : ''"
     *ngIf="activeResponses.length > 0"
     [tabindex]="active ? 600 : 6">
    <div class="scroll-container">
        <app-icon [size]="'medium'"
                  [icon]="active ? 'close' : 'expand'"
                  color="teal"
                  static="true"></app-icon>
        <span class="text noselect manage-text">{{ active ? 'Close' : 'Responses' }}</span>
        <ng-container class="icon-container"
                      *ngIf="!active">
            <app-active-response-icon *ngFor="let response of activeResponses; let i = index"
                                      [response]="response"
                                      [style]="getIconStyle(i)"
                                      (click)="openResponse(response)"></app-active-response-icon>
        </ng-container>
    </div>

</div>
