@import 'icons';
@import 'buttons';
:host {
    position: absolute;
    bottom: 60px;
    left: 40px;
    display: flex;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .app-button {
        height: 44px;
    }
    .container {
        max-width: 100%;
        max-width: 300px;
        padding: 0;
        .scroll-container {
            display: flex;
            min-height: 44px;
            align-items: center;
        }
    }
    .active-responses {
        min-width: 50vw;
        max-width: 500px;
        min-height: 525px;
        max-height: 525px;
        background-color: white;
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        display: flex;
        height: 100%;
        color: #000;
        margin-bottom: 12px;
        .responses-container {
            position: relative;
            display: flex;
            flex-grow: 2;
            .absolute-position {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
    .app-icon {
        display: block !important;
        &.expand,
        &.close {
            margin-right: 10px;
        }
    }
    .icon-container {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
    }
    .manage-text {
        margin-right: 10px;
        text-transform: uppercase;
    }
}
