@import 'colorScheme';
@import 'icons';
@import 'buttons';
mat-card {
    padding: 0;
    margin: 0 20px 10px 20px;
    border-radius: 5px;
    font-family: 'Rubik Regular';
    border: 1px solid #f9f9fa;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
    .map-control {
        color: #8886a0;
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 3px;
        border-top: 2.8px solid #e0e0e6;
        cursor: pointer;
        transition: background-color 1s ease;
        &.red {
            border-color: $red;
        }
        &.blue {
            border-color: $blue;
        }
        &.green {
            border-color: $green;
        }
        &.yellow {
            border-color: $yellow;
        }
        .icon {
            margin: 0 15px;
        }
    }
    .map-container {
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 2;
            &.red {
                background-color: $red;
                opacity: 0.15;
            }
            &.blue {
                background-color: $blue;
                opacity: 0.15;
            }
            &.green {
                background-color: $green;
                opacity: 0.15;
            }
            &.yellow {
                background-color: $yellow;
                opacity: 0.15;
            }
        }
    }
    .card-header {
        padding: 10px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        .app-icon {
            margin-right: 10px;
        }
    }
    .card-footer {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px 0;
        margin-top: 5px;
        .app-icon {
            margin-right: 20px;
            margin-left: -20px;
        }
    }
    app-circle-spinner {
        margin-right: 5px;
        .events-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 10px;
        }
    }
    .card-details {
        padding: 10px;
        padding-bottom: 0;
        cursor: pointer;
        >div {
            display: flex;
            font-size: 0.9rem;
            align-items: center;
            margin-bottom: 10px;
            .text {
                max-width: 85%;
            }
            &.first {
                margin-right: 0;
            }
            &.last {
                margin-bottom: 0;
            }
            .app-icon {
                margin-right: 10px;
            }
            .access-times {
                display: flex;
            }
            .access-times {
                flex-grow: 2;
                justify-content: left;
                .comma {
                    margin-right: 5px;
                }
                div {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
