@import 'icons';
@import 'colorScheme';
:host {
    display: flex;
    flex-direction: column;
    app-search-list-item {
        border: 2px solid transparent;
        &:focus {
            outline: none;
            border-top-color: $blue;
            border-bottom-color: $blue;
        }
    }
    .action-plan-search-header {
        background-color: #ededf0;
        position: relative;
        padding: 15px;
        text-transform: uppercase;
        font-size: 20px;
        .down-arrow {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #ededf0;
            opacity: 1;
            position: absolute;
            bottom: -10px;
            left: calc(50% - 10px);
        }
    }
    .container {
        background-color: #f9f9fa;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        min-width: 250px;
        height: 100%;
        .action-plan-list {
            overflow: auto;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .action-plan-search {
            margin-bottom: 15px;
            position: relative;
            background-color: white;
            border: 1px solid #ededf0;
            width: calc(90% - 20px);
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            app-icon {
                position: absolute;
                right: 0;
                &.close {
                    cursor: pointer;
                }
            }
            input {
                width: calc(80% - 25px);
                padding: 10px;
                outline: none;
                border: none;
            }
        }
    }
}
