@import 'sizes';
@import 'buttons';
:host {
    max-width: 330px;
    z-index: 2;
    min-width: 330px;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding-top: $topnav-height;
    font-family: 'Rubik';
    padding-left: 20px;
    .info {
        margin-top: 60px;
        margin-bottom: 40px;
        padding-right: 40px;
        font-size: 14px;
    }
    .download {
        margin-top: 40px;
        .app-button {
            width: 122px;
            padding: 10px 16px;
            min-height: initial;
        }
    }
}
