<div class="status-icon"
     *ngIf="context.status === actionStatus.Success">
    <mat-icon>check</mat-icon>
</div>
<div class="app-icon notification red round"></div>
<div class="content-container">
    <div>
        {{context.description}}
    </div>
    <div class="content-header">
        <div>NOTIFICATION CONTENT</div>
        <div class="edit-notification-container"
             *ngIf="canEdit">
            <div class="edit-icon app-icon edit small"
                 (click)="!editing && edit()"></div>
            <span class="edit-done"
                  *ngIf="editing && !adding"
                  (click)="editComplete()">Done</span>
        </div>
    </div>
    <div class="content-text">
        <ng-container *ngIf="!editing">{{notificationText}}</ng-container>
        <textarea #textarea
                  [(ngModel)]="notificationText"
                  placeholder="Enter text here"
                  rows="8"
                  *ngIf="editing"
                  (change)="notificationChanged()">
        </textarea>
        <span class="removeBtn"
              (click)="remove()">Remove</span>
    </div>
</div>
<div class="line-hider"
     *ngIf="last"></div>
