<div class="container"
     *ngIf="activeResponse && activeResponse.actionPlan && activeResponse.actionPlan.closeActions.length > 0">
    <div class="header">MANAGE {{activeResponse.actionPlan.name}} RESPONSE</div>
    <div>
        <button class="app-button secondary"
                (click)="update()"
                tabindex="380">MAKE UPDATES</button>
        <button class="app-button secondary"
                (click)="setLocation()"
                *ngIf="!responseHasLocation"
                tabindex="380">SET RESPONSE LOCATION</button>
        <button class="app-button primary"
                (click)="deactivate()"
                *ngIf="activeResponse.responseState !== 0"
                tabindex="380">DEACTIVATE</button>
    </div>
    <app-action-list tabindex="200"
                     [actions]="activeResponse.actionPlan.openActions"></app-action-list>
</div>
