@import 'icons';
@import 'colorScheme';
:host {
    position: relative;
    align-items: flex-start;
    display: flex;
    min-height: 32px;
    flex-grow: 2;
    .error {
        background-color: #FFDBD9;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10px;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        padding-top: 6px;
        flex-grow: 2;
        .colors-container {
            display: flex;
            justify-content: space-evenly;
            flex-grow: 2;
            margin-top: 20px;
            .colorBtn {
                padding: 8px 25px;
                border: 2px solid #e0e0e6;
                border-radius: 20px;
                cursor: pointer;
                outline: none;
                text-transform: capitalize;
                &:hover,
                &.active {
                    border-color: #87879f;
                }
                &:focus {
                    outline: 2px solid $blue;
                    outline-offset: 4px;
                    outline-style: inset;
                }
            }
        }
    }
    .app-icon {
        margin-right: 15px;
        z-index: 3;
    }
    .line-hider {
        height: 100%;
        z-index: 2;
        width: 32px;
        position: absolute;
        background-color: white;
        bottom: 0;
    }
    .color-text {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
    }
}
