@import 'icons';
@import 'buttons';
@import 'colorScheme';
:host {
    position: absolute;
    min-width: 350px;
    max-width: 350px;
    left: 10px;
    top: 70px;
    background-color: white;
    z-index: 4;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 90%;
    .closeBtn {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #87879f;
        font-size: 30px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
        margin-top: 10px;
        .portrait {
            height: 88px;
            width: 88px;
            border-radius: 50%;
            background-color: #eaeaea;
            margin-bottom: 20px;
        }
        .name {
            font-size: 24px;
        }
    }
    .response-container {
        min-height: 230px;
        border-bottom: 1px solid #eaeaea;
        padding: 15px;
        font-size: 14px;
        color: #565560;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .app-button {
            &.secondary {
                margin-bottom: 12px;
            }
        }
        .activity-reported {
            display: flex;
            align-items: center;
            >div {
                margin-right: 20px;
            }
        }
        .info-row {
            padding: 10px 0;
            min-height: 20px;
            display: flex;
            .app-icon {
                margin-right: 10px;
            }
            .location {
                flex-grow: 2;
            }
            .map-link {
                min-height: 20px;
            }
        }
        button {
            width: 100%;
        }
    }
    .body {
        flex-grow: 2;
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .subheader {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    textarea {
        margin: 0 15px 15px 15px;
        border-color: #87869f;
        outline: none;
        resize: none;
        padding: 10px;
    }
}
