<mat-icon class="closeBtn"
          (click)="close()"
          (keyup.space)="close()"
          (keyup.enter)="close()"
          tabindex="440">close</mat-icon>
<div class="header">
    <div class="name">{{userName}}</div>
</div>
<div class="response-container">
    <div *ngIf="latestEventInstance && latestEventInstance.metadata">
        <div class="activity-reported">
            <mat-form-field>
                <mat-select [(ngModel)]="latestEventInstance.metadata.reportType"
                            [placeholder]="'Activity Reported'">
                    <mat-option *ngFor="let actionPlan of actionPlans$ | async"
                                [value]="actionPlan.actionPlanId">{{actionPlan.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="info-row">
        <div class="app-icon building small"></div>
        <div class="location">{{this.event ? this.event.device.location1 : 'Unknown'}}</div>
        <div class="map-link app-button primary"
             (click)="showOnMap()"
             (keyup.space)="showOnMap()"
             (keyup.enter)="showOnMap()"
             tabindex="430">MAP</div>
    </div>
    <div class="info-row">
        <div class="app-icon time small"></div>
        <div>{{latestEventInstance ? (latestEventInstance.date | date : 'shortTime') : 'Unknown'}}</div>
    </div>
    <button class="app-button primary"
            (click)="activateResponse()"
            (keyup.space)="activateResponse()"
            (keyup.enter)="activateResponse()"
            tabindex="410">ACTIVATE RESPONSE</button>
    <button class="app-button secondary"
            (click)="confirmEndChat()"
            (keyup.space)="confirmEndChat()"
            (keyup.enter)="confirmEndChat()"
            tabindex="420">END CONVERSATION</button>
</div>
<div class="body">
    <div class="subheader">Message <span class="user-name">{{userName}}</span></div>
    <app-message-list [messages]="messages"></app-message-list>
</div>
<textarea #textarea
          rows="8"
          placeholder="Send a message"
          [(ngModel)]="message"
          (keydown)="onEnter($event)"
          tabindex="400"></textarea>
