<mat-icon class="closeBtn"
          (click)="close()">close</mat-icon>
<div class="header">
    <div class="name">{{userName}}</div>
</div>
<div class="response-container">
    <div>
        <div class="activity-reported">
            <div>Activity Reported:</div>
            <mat-form-field>
                <mat-select [(ngModel)]="latestEventInstance.metadata.reportType">
                    <mat-option *ngFor="let actionPlan of actionPlans$ | async"
                                [value]="actionPlan.actionPlanId">{{actionPlan.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="info-row">
        <div class="app-icon building small"></div>
        <div class="location">Near Performing Arts Center</div>
        <div class="map-link">MAP</div>
    </div>
    <div class="info-row">
        <div class="app-icon time small"></div>
        <div>15:09</div>
    </div>
    <button class="app-button secondary"
            (click)="activateResponse()">ACTIVATE RESPONSE</button>
    <button class="app-button primary"
            (click)="confirmEndChat()">END CONVERSATION</button>
</div>
<div class="body">
    <div class="subheader">Message <span class="user-name">{{userName}}</span></div>
    <app-message-list [messages]="messages"></app-message-list>
</div>
<textarea rows="8"
          placeholder="Send a message"
          [(ngModel)]="message"
          (keydown)="onEnter($event)"></textarea>
