<div class="container"
     [style.opacity]="mapLoaded ? 1 : 0"
     [style.maxHeight]="defaultOptions.height">
    <app-select-location *ngIf="showSelectingLocation$ | async"
                         (onSetLocation)="setLocation()"
                         (onCancel)="hideSelectLocation()"
                         (onConfirmLocation)="confirmLocation()"
                         (onRestart)="restartSetLocation()"
                         [confirmSelection]="selectedLocation"></app-select-location>
    <div class="map-container"
         [style.height]="defaultOptions.height"
         [ngClass]="{'selecting': selectingLocation}">
        <app-zoom (zoomOut)="onZoomOut()"
                  (zoomIn)="onZoomIn()"
                  *ngIf="defaultOptions.showZoomControls"></app-zoom>
        <div [attr.id]="defaultOptions.mapId"
             class="map"
             [style.height]="defaultOptions.height"></div>
    </div>
</div>
<!-- <app-activate-response *ngIf="showActivateResponse"></app-activate-response> -->
<div class="spinner-container"
     [@fadeInOut]
     *ngIf="!mapLoaded"
     [style.height]="defaultOptions.height">
    <mat-spinner></mat-spinner>
</div>
<div class="overlay-container"
     [@fadeInOutHalfOpacity]
     *ngIf="(showOverlay$ | async) && showActivateResponse"
     [style.height]="defaultOptions.height"></div>
<div class="map-pin-container">
    <app-circle-spinner size="54"
                        depth="6"
                        [circleColor]="spinnerColors.blueCircleColor"
                        fillColor="white"
                        [spinnerColor]="spinnerColors.blueSpinnerColor"
                        fontColor="white"
                        #bluePinSpinner
                        class="ms-pin">
    </app-circle-spinner>

    <app-circle-spinner size="54"
                        depth="6"
                        [circleColor]="spinnerColors.redCircleColor"
                        fillColor="white"
                        [spinnerColor]="spinnerColors.redSpinnerColor"
                        fontColor="white"
                        #redPinSpinner
                        class="ms-pin">
    </app-circle-spinner>

    <app-circle-spinner size="54"
                        depth="6"
                        [circleColor]="spinnerColors.greenCircleColor"
                        fillColor="white"
                        [spinnerColor]="spinnerColors.greenSpinnerColor"
                        fontColor="white"
                        #greenPinSpinner
                        class="ms-pin">
    </app-circle-spinner>

    <app-circle-spinner size="54"
                        depth="6"
                        [circleColor]="spinnerColors.yellowCircleColor"
                        fillColor="white"
                        [spinnerColor]="spinnerColors.yellowSpinnerColor"
                        fontColor="white"
                        #yellowPinSpinner
                        class="ms-pin">
    </app-circle-spinner>

    <app-circle-spinner size="54"
                        depth="6"
                        [circleColor]="spinnerColors.greyCircleColor"
                        fillColor="white"
                        [spinnerColor]="spinnerColors.greySpinnerColor"
                        [animate]="false"
                        fontColor="white"
                        #greyPinSpinner
                        class="ms-pin">
    </app-circle-spinner>
</div>
