<div class="button-container"
     [style.opacity]="disabled ? .5 : 1">
    <div>
        <div class="progress-overlay"
             (mouseenter)="hover = true"
             (mouseleave)="hover = false"
             (mousedown)="onMouseDown()"
             (mouseup)="onMouseUp()"
             [style.cursor]="disabled ? 'default' : 'pointer'">
            <div class="progress-circle"
                 [ngClass]="getCircleClass()">
                <div class="app-icon horn large"
                     [ngClass]="{'hover': hover, 'active': active}"></div>
                <div class="text"
                     *ngIf="buttonText">{{buttonText}}</div>
            </div>
        </div>
        <round-progress [current]="currentProgress"
                        [max]="maxProgress"
                        [color]="'#22F2F5'"
                        [background]="'#E0E0E5'"
                        [radius]="50"
                        [stroke]="5"
                        [rounded]="false"
                        [responsive]="true"
                        [duration]="500"
                        [animation]="'linearEase'"
                        [animationDelay]="0"
                        [style.opacity]="disabled ? 0 : 1">
        </round-progress>
    </div>
</div>
<div class="grey-subheader"
     *ngIf="subheaderText">
    <div>
        {{subheaderText}}
    </div>
</div>
