<div class="button-container"
     [style.opacity]="disabled ? .5 : 1">
    <div>
        <div class="progress-overlay"
             tabindex="550"
             (mouseenter)="hover = true"
             (mouseleave)="hover = false"
             (mousedown)="activateInterval()"
             (mouseup)="deactivateInterval()"
             (keydown.enter)="activateInterval()"
             (keydown.space)="activateInterval()"
             (keyup.enter)="deactivateInterval()"
             (keyup.space)="deactivateInterval()"
             [style.cursor]="disabled ? 'default' : 'pointer'">
            <div class="progress-circle"
                 [ngClass]="getCircleClass()">
                <app-icon icon="horn"
                          size="large"
                          [hover]="hover"
                          [active]="active"></app-icon>
                <div class="text"
                     *ngIf="buttonText">{{buttonText}}</div>
            </div>
        </div>
        <round-progress [current]="currentProgress"
                        [max]="maxProgress"
                        [color]="'#22F2F5'"
                        [background]="'#E0E0E5'"
                        [radius]="50"
                        [stroke]="5"
                        [rounded]="false"
                        [responsive]="true"
                        [duration]="500"
                        [animation]="'linearEase'"
                        [animationDelay]="0"
                        [style.opacity]="disabled ? 0 : 1">
        </round-progress>
    </div>
</div>
<div class="grey-subheader"
     *ngIf="subheaderText">
    <div>
        {{subheaderText}}
    </div>
</div>
