:host {
  display: flex;
  background-color: #fff;

  mat-list {
    width: 100%;
    padding: 0;

    mat-list-item {
      cursor: pointer;

      &.active,
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}
