<div class="header"
     #header
     [ngClass]="{'active': activeUserId === '*'}"
     (click)="selectAllChat()"
     (keyup.space)="selectAllChat()"
     (keyup.enter)="selectAllChat()"
     tabindex="300">All Messages</div>
<div class="sub-header">RECENTLY ACTIVE PEOPLE</div>
<div class="people-container">
    <div class="person"
         [ngClass]="{'active': user.id === activeUserId}"
         *ngFor="let user of activeUsers$ | async"
         (click)="selectActiveUser(user)"
         (keyup.space)="selectActiveUser(user)"
         (keyup.enter)="selectActiveUser(user)"
         tabindex="350">
        <div class="icon-container">
            <div class="action-plan-icon"
                 [ngClass]="getActionPlanIcon(user.id)"></div>
        </div>
        <div class="username">{{user.name}}</div>
        <div class="unread"
             *ngIf="getUnreadMessageCount(user.id) > 0">
            <div>
                {{getUnreadMessageCount(user.id)}}
            </div>
        </div>
    </div>
</div>
