@import 'sizes';

:host {
  max-width: 330px;
  z-index: 2;
  min-width: 330px;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding-top: $topnav-height;
  font-family: 'Rubik';
  padding-left: 20px;

  .header {
    font-size: 20px;
    margin-top: 60px;
    color: #3e3d4a;
    cursor: pointer;

    &:hover {
        text-transform: underline;
        color: #3322ff;
    }

    &.active {
        color: #3322ff;
      }
  }

  .sub-header {
    font-size: 10px;
    color: #8886a0;
    margin-top: 40px;
  }

  .people-container {
    margin-top: 20px;

    .person {
      padding-left: 40px;
      color: #3e3d4a;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        text-transform: underline;
        color: #3322ff;
      }

      &.active {
        color: #3322ff;
      }
    }
  }
}
