@import 'colorScheme';
$icon-size: 36px;
@mixin iconSize($size) {
    height: $size;
    width: $size;
    background-size: $size;
}

%icon-defaults {
    width: $icon-size;
    height: $icon-size;
    background-size: $icon-size;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 2;
    &.static-size {
        min-width: $icon-size;
        min-height: $icon-size;
    }
    &.tiny {
        @include iconSize(8px);
    }
    &.small {
        @include iconSize(16px);
        &.wide {
            width: 22px !important;
        }
    }
    &.medium-small {
        @include iconSize(20px);
    }
    &.medium {
        @include iconSize(24px);
    }
    &.large {
        @include iconSize(32px);
    }
    &.round {
        border-radius: 50%;
        background-color: white;
        width: 32px;
        height: 32px;
        background-size: 21px;
        min-width: 32px;
    }
    &.black,
    &.off {
        background-color: #000 !important;
    }
    &.red {
        background-color: $red !important;
    }
    &.green {
        background-color: $green !important;
    }
    &.yellow {
        background-color: $yellow !important;
    }
    &.blue {
        background-color: $blue !important;
    }
    &.active,
    &:hover:not(.static) {
        &.fire,
        &.gun,
        &.package {
            background-color: $red !important;
        }
        &.health,
        &.protest,
        &.vip {
            background-color: $blue !important;
        }
        &.pollution,
        &.tornado {
            background-color: $yellow !important;
        }
    }
}

@mixin hoverIcon($asset) {
    @extend %icon-defaults;
    background-image: url('/assets/icons/'+$asset+'_passive.svg');
    &:hover:not(.static),
    &.active {
        background-image: url('/assets/icons/'+$asset+'_active.svg');
    }
}

@mixin icon($asset) {
    @extend %icon-defaults;
    background-image: url('/assets/icons/'+$asset+'.svg');
}

.app-icon {
    &.chat {
        @include hoverIcon('message');
    }
    &.sensors {
        @include hoverIcon('sensors');
    }
    &.now {
        @include hoverIcon('now');
    }
    &.shield {
        @include hoverIcon('icon1');
    }
    &.location-circle {
        @include hoverIcon('icon2');
    }
    &.history {
        @include hoverIcon('icon3');
    }
    &.gear {
        @include hoverIcon('icon4');
    }
    &.location {
        @include icon('location_passive');
    }
    &.location-blue {
        @include icon('location_active');
    }
    &.arrow-down {
        @include icon('arrow-down');
    }
    &.arrow-up {
        @include icon('arrow-up');
    }
    &.horn {
        @include icon('horn_default');
        &:hover:not(.active),
        &:focus:not(.active),
        &.hover:not(.active) {
            background-image: url('/assets/icons/horn_hover.svg');
        }
        &.active {
            background-image: url('/assets/icons/horn_default.svg');
        }
    }
    &.horn-lightblue {
        @include icon('horn_lightblue');
    }
    &.fire {
        @include hoverIcon('fire');
    }
    &.fire-static {
        @include icon('fire_active');
    }
    &.gun {
        @include hoverIcon('gun');
    }
    &.gun-static {
        @include icon('gun_active');
    }
    &.health {
        @include hoverIcon('health');
    }
    &.health-static {
        @include icon('health_active');
    }
    &.package {
        @include hoverIcon('package');
    }
    &.package-static {
        @include icon('package_active');
    }
    &.pollution {
        @include hoverIcon('pollution');
    }
    &.pollution-static {
        @include icon('pollution_active');
    }
    &.protest {
        @include hoverIcon('protest');
    }
    &.protest-static {
        @include icon('protest_active');
    }
    &.tornado {
        @include hoverIcon('tornado');
    }
    &.tornado-static {
        @include icon('tornado_active');
    }
    &.vip {
        @include hoverIcon('vip');
    }
    &.vip-static {
        @include icon('vip_active');
    }
    &.search {
        @include icon('search');
    }
    &.shield-plain {
        @include icon('shield');
    }
    &.notification {
        @include icon('notification');
    }
    &.light {
        @include icon('light');
        &.grey {
            @include icon('light_grey');
        }
    }
    &.close {
        @include icon('close');
        &.grey {
            @include icon('close_grey');
        }
        &.teal {
            @include icon('close_teal');
        }
    }
    &.expand {
        @include icon('expand');
    }
    &.reload {
        @include icon('reload');
    }
    &.button {
        @include icon('button');
        &.grey {
            @include icon('button_grey');
        }
    }
    &.sound {
        @include icon('sound');
        &.grey {
            @include icon('sound_grey');
        }
    }
    &.message {
        @include icon('message_blue');
    }
    &.zoomIn {
        @include icon('zoom_in');
    }
    &.zoomOut {
        @include icon('zoom_out');
    }
    &.edit {
        @include icon('edit');
    }
    &.time {
        @include icon('time');
    }
    &.stairs {
        @include icon('floor-stairs');
    }
    &.building {
        @include icon('building');
    }
    &.person {
        @include icon('vip')
    }
    &.dot {
        border: 1px solid #979797;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        &.active {
            background-color: #28CB4E;
            border-color: #28CB4E;
        }
    }
}
