<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Edison.Mobile.User.Client</string>
	<key>CFBundleIdentifier</key>
	<string>com.bluemetal.edisonuser</string>
	<key>CFBundleVersion</key>
	<string>1.5.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.4</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to help keep you and your community safe.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to help keep you and your community safe.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bluemetal.edisonuser</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.onmicrosoft.edisondevb2c.user</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Medium.ttf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>0.4.5</string>
	<key>NSAppTransportSecurity</key>
	<string>NSAllowsArbitraryLoads</string>
</dict>
</plist>
