:host {
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
    &:focus {
        outline: none;
    }
    .list-container {
        display: flex;
        flex-direction: column;
        .action-plan-item {
            z-index: 2;
            &:not(.last) {
                margin-bottom: 25px;
            }
        }
    }
    .dotted-line {
        border-image: url('/assets/images/border.png');
        height: 100%;
        position: absolute;
        border-width: 1px;
        border-style: solid;
        border-color: #e0e0e6;
        border-image-repeat: space round;
        border-image-slice: 0% 17%;
        z-index: 1;
        left: 15.5px;
        top: -2px;
        opacity: 0.2;
    }
}
