<div class="list-container">
    <app-action-list-item *ngFor="let action of actions; let last = last; let first = first"
                          [context]="action"
                          [last]="last"
                          [first]="first === true"
                          [ngClass]="{'last': last, 'action-plan-item': true}"
                          [canEdit]="canEdit"
                          [isCloseAction]="isCloseActionList"
                          [actionChangeSubject]="actionChangeSubject"></app-action-list-item>
</div>
<div class="dotted-line"></div>
