<div class="overlay"></div>
<div class="title">
    <span>{{ pageTitle$ | async }}</span>
    <span class="down-arrow"
          *ngIf="sidebar$ | async"></span>
</div>
<div class="logo">
    <img src="assets/images/logo.svg" />
</div>
<div class="logout"
     (click)="logout()"
     (keyup.space)="logout()"
     (keyup.enter)="logout()"
     tabindex="11">
    Logout
</div>
<div class="map-controls"
     *ngIf="sidebar$ | async">
    <div class="app-icon reload"
         (click)="reload()"
         (keyup.space)="reload()"
         (keyup.enter)="reload()"
         tabindex="10"></div>
</div>
