<div class="overlay"></div>
<div class="title">
    <span>{{ pageTitle$ | async }}</span>
    <span class="down-arrow"
          *ngIf="(appState$ | async).showDownArrow"></span>
</div>
<div class="logo">
    <img src="assets/images/logo.svg" />
</div>
<div class="logout"
     (click)="logout()"
     (keyup.space)="logout()"
     (keyup.enter)="logout()"
     tabindex="11">
    Logout
</div>
<div class="map-controls"
     *ngIf="(appState$ | async).showReloadButton">
    <app-icon icon="reload"
              size="extra-large"
              (click)="reload()"
              (keyup.space)="reload()"
              (keyup.enter)="reload()"
              tabindex="10"></app-icon>
</div>
