<div class="bar-header">
    <app-circle-spinner [animate]="animate"
                        (click)="showEvents()"
                        size="172"
                        depth="10"
                        [circleColor]="circleColor"
                        fillColor="#fafafa"
                        [spinnerColor]="spinnerColor"
                        animate="true">
        <div class="events-circle">
            <div class="count">{{ eventCount }}</div>
            <div>
                <div class="app-icon location small"></div>
                {{ eventCount === 1 ? 'Event' : 'Events' }}
            </div>
        </div>
    </app-circle-spinner>
</div>

<perfect-scrollbar class="events-container"
                   (psYReachEnd)="onScroll()"
                   [@listFadeInOut]
                   tabindex="2"
                   (focus)="onFocus()">

    <ng-container *ngFor="let event of recentEventsLazy; let first = first;">
        <div [ngClass]="getCardClass(event, first)">
            <app-event-card [event]="event"></app-event-card>
        </div>
        <div *ngIf="first"
             class="bar-earlier">Earlier Today</div>
    </ng-container>

</perfect-scrollbar>
