<div class="bar-header">
    <app-circle-spinner [animate]="animate" (click)="showEvents()" size="172" depth="10" [circleColor]="circleColor"
        fillColor="#fafafa" [spinnerColor]="spinnerColor" animate="true">
        <div class="events-circle">
            <div class="count">{{ eventCount }}</div>
            <div>
                <div class="app-icon location small"></div>
                {{ eventCount > 1 ? 'Events' : 'Event' }}
            </div>
        </div>
    </app-circle-spinner>
</div>

<div class="events-container" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false" [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500">
    <app-event-card *ngFor="let event of events" [event]="event" [@fadeInOut]></app-event-card>

    <div class="bar-earlier">Earlier Today</div>

    <app-event-card *ngFor="let event of recentEventsLazy" [event]="event"></app-event-card>
</div>
