<div class="container"
     (click)="click()"
     [ngClass]="{'testable': device.deviceType === 'Lightbulb'}">
    <div class="connection">
        <div class="app-icon dot"
             [ngClass]="{'active': device.online}"></div>
        <div *ngIf="device.lastAccessTime">{{getLastAccessTime()}}</div>
    </div>
    <div class="type">
        <div class="app-icon grey medium-small"
             [ngClass]="getDeviceIcon()"></div>
    </div>
    <div class="location">
        {{device.location1}} - {{device.location2}}, {{device.location3}}
    </div>
    <div class="current-response">
        <div class="app-icon round"
             *ngIf="device.response && device.response.responseState === 1"
             [ngClass]="getResponseIcon()"></div>
        <div *ngIf="!device.response || device.response.responseState === 0">-</div>
    </div>
    <div class="recent-events">
        <div *ngIf="device.event"
             class="device-event-container">
            <ng-container *ngFor="let event of device.event.events.slice(0, 3); let first = first; let last = last">
                <div [ngClass]="{'first': first, 'last': last}">{{ event.date | date : 'shortTime'}}</div>
                <div *ngIf="!last"
                     class="comma">,</div>
            </ng-container>
        </div>
        <div *ngIf="!device.event"
             class="no-events">-</div>
    </div>
</div>
