@import 'colorScheme';
@import 'sizes';
@import 'icons';
:host {
    display: flex;
    background-color: #EDEDF0;
    min-width: $sidenav-width;
    align-items: center;
    padding-top: 80px;
    flex-direction: column;
    .app-icon {
        width: 100%;
        height: 70px;
        cursor: pointer;

        &:focus {
            outline: 2px solid $blue;
            outline-style: inset;
        }
    }
}
