<mat-icon class="closeBtn"
          (click)="close()"
          (keyup.space)="close()"
          (keyup.tab)="close()"
          tabindex="420">close</mat-icon>
<div class="header">
    <div class="text">All Active Users</div>
</div>
<div class="response-container">
    <div class="info-row">
        <app-icon icon="vip"
                  static="true"
                  color="grey"
                  size="small"
                  staticSize="true"></app-icon>
        <div class="user-count">{{userCount}} People</div>
    </div>
    <div class="info-row">
        <app-icon staticSize="true"
                  icon="building"
                  size="small"></app-icon>
        <div class="location">Multiple Locations</div>
        <div class="map-link">MAP</div>
    </div>
    <div>
        <button #activateResponseButton
                class="app-button secondary"
                (click)="showActivateResponse()"
                (keyup.space)="showActivateResponse()"
                (keyup.tab)="showActivateResponse()"
                tabindex="400">ACTIVATE RESPONSE</button>
    </div>
</div>
<div class="body">
    <div class="subheader">Message {{userCount}} People</div>
    <app-message-list [messages]="messages"></app-message-list>
</div>
<textarea rows="8"
          placeholder="Send a message"
          [(ngModel)]="message"
          (keydown)="onEnter($event)"
          tabindex="410"></textarea>
